.kontakti {
    padding: 40px 20px;
    position: relative;
}

.kontakti-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 76px; 
}

.kontakti-info {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    height: 400px;  
}

.kontakti-details {
    width: 30%;  
    padding: 20px;
}

.kontakti-details p {
    font-size: 16px;  
    margin: 30px 0;
    color: white;
    line-height: 1.5;
    text-shadow: 2px 2px 4px #ffffff77;
}

.map-container {
    position: absolute;
    right: 0;
    top: 0;
    
}

.map {
    width: 600px;    
    height: 400px;   
    position: absolute;
    right: 50px;     
    top: 20px;       
    object-fit: cover;
}